@import "variables";

.login-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #272525;
    padding: 60px;
    border-radius: 10px;
  }
  &__raven {
    height: 100px;
    width: 80px;
    background-color: transparent;
  }

  &__sign-in-text {
    color: #00ff00;
    margin-bottom: 40px;
    background-color: #272525;
  }

  &__input {
    background-color: #4e4a4a;
    color: aliceblue;
    text-align: center;
    height: 25px;
    width: 200px;
  }

  &__login-box {
    background-color: #00ff00;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin-top: 40px;
    color: #000000;
    font-size: larger;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  &__error-container {
    height: 20px;
    background-color: #272525;
  }
  &__error {
    color: red;
    background-color: #272525;
    margin-top: 10px;
  }
}
