@import "variables";

.search-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  &__h1 {
    color: $green;
    margin-bottom: 30px;
  }
  &__input {
    background-color: $background-color;
    color: aliceblue;
    text-align: center;
    height: 25px;
    width: 200px;
    margin-bottom: 5px;
  }
  &__search-button {
    background-color: $green;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    margin-top: 5px;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid $yellow;
    cursor: pointer;
  }
}
