@import "variables";

.video-list {
  &__name-sort {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    h5 {
      margin-bottom: 5px;
    }

    h1 {
      font-size: 25px;
      margin-bottom: 10px;
    }

    select {
      background-color: $background-color;
      color: white;
      border-radius: 5px;
      padding: 5px;
      margin-bottom: 10px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 10px;
    list-style: none;

    &__card {
      background-color: $background-color;
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
      max-width: 500px;
      max-height: 420px;

      div {
        background-color: black;
        border-radius: 5px;
        height: 100%;
      }

      p {
        margin: 10px;
        color: white;
      }
    }
  }

  @media (min-width: 1168px) {
    /* Cambios para pantallas de escritorio (ancho mínimo de 768px) */

    &__name-sort {
      flex-direction: row;

      h1 {
        margin-right: 10px;
      }

      select {
        margin-bottom: 0;
      }
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;

      &__card {
        margin-right: 20px;
      }
    }
  }
}
