@import "variables";

.video-list {
  &__name-sort {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    h5 {
      margin-bottom: 5px;
    }

    h1 {
      font-size: 25px;
      margin-bottom: 10px;
    }

    select {
      background-color: $background-color;
      color: white;
      border-radius: 5px;
      padding: 5px;
      margin-bottom: 10px;
    }
  }

  &__list {
    margin: 10px;
    list-style: none;

    &__card {
      background-color: $background-color;
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
      height: 400px; /* Puedes ajustar la altura según tus necesidades */

      div {
        background-color: black;
        border-radius: 5px;
        height: 100%; /* Asegura que el div interno ocupe toda la altura */
      }

      p {
        margin: 10px;
        color: white;
      }
    }
  }
}
