@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
.login-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.login-container__box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #272525;
  padding: 60px;
  border-radius: 10px;
}
.login-container__sign-in-text {
  color: #00ff00;
  margin-bottom: 40px;
  background-color: #272525;
}
.login-container__input {
  background-color: #4e4a4a;
  color: aliceblue;
  text-align: center;
  height: 25px;
  width: 200px;
}
.login-container__login-box {
  background-color: #00ff00;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  margin-top: 40px;
  color: #000000;
  font-size: larger;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.home-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}
.home-container__center {
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.home-container__pagination {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home-container__pagination .pagination-button {
  background-color: #00ff00;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  margin-top: 5px;
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #ffed00;
  cursor: pointer;
}

.home-container__top {
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
}

.search-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
.search-container__h1 {
  color: #00ff00;
  margin-bottom: 30px;
}
.search-container__input {
  background-color: #4e4a4a;
  color: aliceblue;
  text-align: center;
  height: 25px;
  width: 200px;
  margin-bottom: 5px;
}
.search-container__search-button {
  background-color: #00ff00;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  margin-top: 5px;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #ffed00;
  cursor: pointer;
}

.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dashboard__card {
  width: 100%;
  max-width: 300px;
  margin: 10px;
}
.dashboard__card__value {
  font-size: 16px;
  margin: 8px 0;
  background: #fb3b64;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.dashboard__card__type {
  text-align: center;
  padding: 8px;
  color: #ffed00;
}

.video-list__name-sort {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.video-list__name-sort h5 {
  margin-bottom: 5px;
}
.video-list__name-sort h1 {
  font-size: 25px;
  margin-bottom: 10px;
}
.video-list__name-sort select {
  background-color: #4e4a4a;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}
.video-list__list {
  display: flex;
  flex-direction: column;
  margin: 10px;
  list-style: none;
}
.video-list__list__card {
  background-color: #4e4a4a;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 500px;
  max-height: 420px;
}
.video-list__list__card div {
  background-color: black;
  border-radius: 5px;
  height: 100%;
}
.video-list__list__card p {
  margin: 10px;
  color: white;
}
@media (min-width: 1168px) {
  .video-list {
    /* Cambios para pantallas de escritorio (ancho mínimo de 768px) */
  }
  .video-list__name-sort {
    flex-direction: row;
  }
  .video-list__name-sort h1 {
    margin-right: 10px;
  }
  .video-list__name-sort select {
    margin-bottom: 0;
  }
  .video-list__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .video-list__list__card {
    margin-right: 20px;
  }
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "Quicksand";
  color: aliceblue;
  background-color: black;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=styles.css.map */