@use "sass/variables";
@use "sass/loginForm.scss";
@use "sass/homePage.scss";
@use "sass/searchForm.scss";
@use "sass/dashboard";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "Quicksand";
  color: aliceblue;
  background-color: black;
}
body {
  min-width: 320px;
}
